/* Active link style */
.nav-link:hover {
    background-color: #edf3ff; /* Darker background on hover */
    color: #5c87ff !important; /* Text color on hover */
  }
.active-link {
    background-color: #5c87ff !important;
    color: white !important;
    border-radius: 12px;
  }
  
  /* Ensure the active link does not change on hover */
  .active-link:hover,
  .active-link .nav-link:hover {
    background-color: #5c87ff !important;
    color: white !important;
  }
  
 